[echo-nginx-module]
form=github
url=https://github.com/openresty/echo-nginx-module.git
rev=v0.53

[ngx_devel_kit]
form=github
url=https://github.com/simpl/ngx_devel_kit
rev=v0.2.19

[ngx_info]
form=github
url=https://github.com/cubicdaiya/ngx_info
