--sbin-path=/usr/sbin/nginx
--conf-path=/etc/nginx/nginx.conf
--error-log-path=/var/log/nginx/error.log
--pid-path=/var/run/nginx.pid
--lock-path=/var/lock/nginx.lock
--http-log-path=/var/log/nginx/access.log
--http-client-body-temp-path=/var/lib/nginx/body
--http-proxy-temp-path=/var/lib/nginx/proxy
--with-http_stub_status_module
--http-fastcgi-temp-path=/var/lib/nginx/fastcgi
--with-debug
--with-pcre-jit
--with-http_spdy_module
--with-http_ssl_module
--with-cc-opt="-Wno-deprecated-declarations"
