[echo-nginx-module]
form=git
url=https://github.com/openresty/echo-nginx-module.git
rev=v0.53

[headers-more-nginx-module]
form=git
url=https://github.com/openresty/headers-more-nginx-module.git
rev=v0.25

[ngx_devel_kit]
form=git
url=https://github.com/simpl/ngx_devel_kit
rev=v0.2.19

[ngx_info]
form=git
url=https://github.com/cubicdaiya/ngx_info

[ngx_small_light]
form=git
url=https://github.com/cubicdaiya/ngx_small_light
rev=v0.5.2
prevsh=./setup --with-gd
