name: Go

on:
  pull_request:
    paths:
      - '**/*.go'
      - go.mod
      - go.sum
      - Makefile
      - builder/**
      - command/**
      - config/**
      - configure/**
      - module3rd/**
      - nginx-build
      - nginx-build.go
      - openresty/**
      - util/**
      - '.github/workflows/go.yml'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Build
        run: make
      - name: Test
        run: make check

  run-nginx-openssl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run Nginx with OpenSSL
        run: |
          make
          ./nginx-build -c ./config/configure.example -m ./config/modules.json.example -d work -clear -pcre -zlib -openssl

  run-nginx-libressl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run Nginx with LibreSSL
        run: |
          make
          ./nginx-build -c ./config/configure.example -m ./config/modules.json.example -d work -clear -pcre -zlib -libressl

  run-freenginx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run Nginx with FreeNginx
        run: |
          make
          ./nginx-build -c ./config/configure.example -m ./config/modules.json.example -d work -clear -freenginx -pcre -zlib -openssl

  run-openresty:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run Nginx with OpenResty
        run: |
          make
          ./nginx-build -c ./config/configure.example -m ./config/modules.json.example -d work -clear -openresty -pcre -zlib -openssl

  run-nginx-brotli:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run Nginx with Brotli
        run: |
          make
          ./nginx-build -c ./config/configure.example -m ./config/modules.json.brotli -d work -clear -pcre -zlib -openssl

  run-nginx-boringssl:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Install BoringSSL dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake ninja-build libunwind-dev
      - name: Run Nginx with BoringSSL
        run: |
          make
          ./nginx-build -c ./config/configure.example -m ./config/modules.json.example -d work -clear -pcre -zlib \
            -customssl https://boringssl.googlesource.com/boringssl \
            -customsslname boringssl

  run-nginx-oqs-provider:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run Nginx with oqs-provider
        run: |
          make
          ./nginx-build \
            -c ./config/configure.example \
            -m ./config/modules.json.example \
            -d work \
            -clear \
            -pcre \
            -zlib \
            -customssl https://github.com/open-quantum-safe/oqs-provider.git \
            -customsslname oqs-provider \
            -customssltag 0.9.0

  run-patch:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Run nginx-build with patches
        run: |
          set -euxo pipefail
          make
          ./nginx-build \
            -c ./config/configure.example \
            -m ./config/modules.json.example \
            -d work \
            -clear \
            -pcre \
            -zlib \
            -openssl \
            -patch ./config/patches/nginx-add-file.patch \
            -patch openssl=./config/patches/openssl-add-file.patch
          nginx_patch_path=$(find work -name patch-ci-nginx.txt -print -quit)
          openssl_patch_path=$(find work -name patch-ci-openssl.txt -print -quit)
          test -n "$nginx_patch_path"
          test -n "$openssl_patch_path"
