name: govulncheck

on:
  push:
    branches:
      - master
    paths:
      - '**/*.go'
      - go.mod
      - go.sum
      - Makefile
      - builder/**
      - command/**
      - config/**
      - configure/**
      - module3rd/**
      - openresty/**
      - util/**
      - '.github/workflows/security.yml'
  pull_request:
    paths:
      - '**/*.go'
      - go.mod
      - go.sum
      - Makefile
      - builder/**
      - command/**
      - config/**
      - configure/**
      - module3rd/**
      - openresty/**
      - util/**
      - '.github/workflows/security.yml'
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  govulncheck_job:
    runs-on: ubuntu-latest
    name: Run govulncheck
    steps:
      - id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-input: 1.25.7
          go-package: ./...
